/* font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;

/*----targeting all elements and universal tag */
* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  background-color: #fbfbfa;
}

h3, h2 {
  letter-spacing: 10px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}


p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem !important;
  line-height: 35px;
}

.section-height {
  height: 665px;
  /* box-sizing: border-box; */
}

/* start of navbar */

nav {
  box-shadow: 0 0 7px 1px darkgrey;
  text-align: right;
  height: 80px;
  border: none;
  padding: 0 30px 0 0;
  background: #ffebcd;
  /* position: sticky; */

}
nav a {
  margin-left: 50px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 17.5px;

}

nav i {
  color: black;
  margin-left: 6px;
}

.nav-right {
  margin-top: 30px;
}

#left-logo {
  float: left;
  height: 100%;
 width: 130px;
 border-radius: 2px;
  
}

a:link {
  color: #74560c;
}
a:hover {
  color: rgb(14, 156, 156);
}
a:visited {
  color: rgb(190, 37, 190);
}
a:active {
  color: green;
}
/* end of navbar */

/*---------------------*/

/* start of heading */

.left-asp {
  padding-top: 265px;
  float: left;
  width: 43%;
  padding-left: 50px;
  text-align: ;
}


.asp-title {
  font-family: "Kanit", sans-serif;
  letter-spacing: 10.5px;
  font-size: 40px;
  color: #d4a06cf6;
  /* color: #d4b382; */
}

.pic-to-right {
  float: right;
  padding: 60px 30px;
  
}
.pic-radius {
  border-radius: 47.5%;
  object-fit: cover;
}

/*end of heading section */

/*------------------------- */

/* start of about me section*/

.abt-img-row {
  width: 100%;
}

.abt-cont {
  height: 100%;
  clear: both;
}

.abt-me {
  padding: 180px 70px;
  width: 50%;
  float: left;
}

.abt-me h2 {
  margin-bottom: 30px;
  
}

.pad-top { padding-top: 20px;}


.status-bar {
  float: right;
  width: 50%;
  padding: 180px 70px;
}

.status-bar h3 {
  text-align: center;
  padding-right: 90px;
}

.bar {
  background-color: rgb(170, 170, 170);
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: rgb(230, 187, 132);
  color: black;
  padding: 1.5%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 25%;
}

.css {
  width: 15%;
}
/* end of about me section*/

/*----------------------*/

/* start of project section */
.box {
  margin-top: 35px;
  display: inline-block; 
  width: 20%;
  height: 60%;
  background-color: rgb(196, 184, 175);
  text-align: justify;
  
}
.left-box {
  margin-left: 60px;
  margin-right: 220px;
  background-image: url(../img/backgroundprojpic.png);
  background-size: cover;
  
}


.center-box {
  margin-right: 220px;
  
}

.proj-row {
  height: 100%;
}

#projects {
  clear: both;
}

.proj-heading {

}
/* end of project section*/

/* ----------------------- */

/* start of contact section*/

.contact {
  height: 100%;
}
.form-container {
  background-color: rgb(242, 242, 242);
  margin: auto;
  padding: auto;
  text-align: center;
  width: 50%;
  height: 450px;
}

input[type="text"] {
  margin: 40px 20px 20px 0;
}

input[type="submit"] {
  background-color: rgb(204, 168, 120);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

input[type="text"]:hover {
  background-color: ;
}

textarea {
  height: 200px;
}
/* END of contact section */

/* --------------------- */

/* start of footer section */

.fter-cont {
  border-top: none;
  background-color: blanchedalmond;
  height: 80px;
  text-align: center;
}
.fter-logo {
  height: 100%;
  width: 130px;
  border-radius: 2px;
}

.fa-arrow-up {
  float: right;
  padding: 12px;
}

.fa-arrow-up:link {
  color: #74560c;
}
.fa-arrow-up:hover {
  color: rgb(14, 156, 156);
}
.fa-arrow-:visited {
  color: rgb(190, 37, 190);
}
.fa-arrow-up:active {
  color: green;
}