/* font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f9f7f7;
  /* background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment:fixed; */

}
/* start of navbar and all selectors */



nav {
  box-shadow: 1px 2px 6px gray;
  text-align: right;
  height: 80px;
  border: none;
  padding: 0 30px 0 0;
  background: blanchedalmond;
  position: sticky;
  top: 0;
}
nav a {
  margin-left: 40px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight:900;
}
/* 
.fa-house, .fa-address-card, .fa-envelope {
 
} */

.nav-right {
  margin-top: 30px;
}

#left-logo {
  float: left;
  height: 100%;

}

a:link {
  color: brown;

}
a:hover {
  color: teal;
}
a:visited {
  color: purple;
}
a:active {
  color: green;
}
/* end of navbar styling */

.left-asp {
  padding-top: 200px;
  float: left;
  width: 45%;
  padding-left: 50px;
  text-align: justify;

}

.left-asp h2 {
  letter-spacing: 5px;
}
.abt-img-row {
  width: 100%;
}

div.box {
  display: inline-block;
  width: 50px;
  height: 100px;
  background-color: rgb(196, 184, 175);
}
div h2  {
  font-family: 'Kanit', sans-serif
}
p {
  font-family: 'Quicksand', sans-serif;
}

 .abt-me {
  clear: both;
  padding: 100px 70px;
  margin: 10px;
  width: 50%;

 
  

} 

section h3 {
  clear: both;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  
}

.right-pic {
  float: right;
  padding: 30px;
  
}
section img {
  border-radius: 300px;
}

.form-container {
  background-color: gray;
  margin: auto;
  padding: auto;
  text-align: center;
  width: 50%;
  height: 450px;
}


input[type=text] {
 margin: 40px 10px 20px 0;
}

.fter-cont {
  border-top: 1px solid black;
  background-color: blanchedalmond;
  height: 100px;

}

