/* font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;

/*----targeting all elements and universal tag */
* {
  box-sizing: border-box;
  margin: 0;
  
}

body { background-color: #f9f9f9; }

h2 {
  letter-spacing: 10px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem !important;
  line-height: 35px;
}

.section-height {
  height: 665px;
  /* box-sizing: border-box; */
}

/* start of navbar */

nav {
  box-shadow: 0 0 7px 1px darkgrey;
  text-align: right;
  height: 80px;
  border: none;
  padding: 0 30px 0 0;
  background: #ffebcd;

}

nav a {
  margin-left: 50px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 17.5px;

}

nav i {
  color: black;
  margin-left: 6px;
}

.nav-right {
  margin-top: 30px;
}

#left-logo {
 float: left;
 height: 100%;
 width: 130px;
 border-radius: 2px;
  
}

a:link {
  color: #443614;
}
a:hover {
  color: rgb(29, 219, 70);
}

/* end of navbar */

/*---------------------*/

/* start of heading */

.abt-img-row {
  width: 100%;
  height: 100%;
}

.left-asp {
  padding-top: 265px;
  float: left;
  width: 43%;
  padding-left: 50px;
  /* text-align: ;*/
}
.left-asp span {
  font-size: 25px;
  font-weight: bolder;
  /* font-style: oblique; */
  text-transform:uppercase;
  letter-spacing: 2.1px;

}

.asp-title {
  font-family: "Kanit", sans-serif;
  letter-spacing: 10.7px;
  font-size: 40px;
  color: #d0a769;
  font-style: italic;
  text-shadow: 1px 1.5px 1.5px #6E0A1E;
  
}

.fa-github {
  font-size: 35px;
  padding: 15px 5px 5px 0;
  color: #040404;
}
.fa-linkedin {
  font-size: 35px;
  padding: 15px 5px 5px 5px;
  color: #0B65C2;
}
.fa-linkedin:hover, .fa-github:hover {
 opacity: .7;
}

.pic-to-right {
  float: right;
  padding: 60px 30px;
}

figcaption p {
  padding: 10px 0 0 200px;
  text-transform: capitalize;
  font-size: 17px !important;
  /* transform:scale(5deg); */
}
.pic-radius {
  border-radius: 47.5%;
  object-fit: cover;
}

/*end of heading section */

/*------------------------- */

/* start of about me section*/

.abt-cont {
  height: 100%;
  clear: both;
}

.abt-me {
  padding: 180px 70px;
  width: 50%;
  float: left;
}

.abt-me h2 { margin-bottom: 30px; }

.span-text { 
  font-size: 25px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  color: #bf7c17;
  text-decoration: underline;
 }
 .tech-stack {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight:bolder;
  color: #bf7c17;
  
 }

.pad-top { padding-top: 20px;}


.status-bar {
  float: right;
  width: 50%;
  padding: 180px 70px;
}

.status-bar h2 {
  text-align: center;
  padding-right: 90px;
}

.bar {
  background-color: #626262;
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: #d0a769;
  color: black;
  padding: 1.5%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 20%;
}

.css {
  width: 10%;
}
/* end of about me section*/

/*----------------------*/

/* start of project section */
.proj-heading {
  font-weight: 900;
  }

.proj-row {
  height: 100%;
  width: 100%;
}
.box {
  display: inline-block;
  margin-top: 35px;  
  width: 45%;
  height: 400px; 
  background-color: #eecbb0;
  /* text-align: justify; */
  border-radius: 5px;
  box-shadow: 2px 3px 3px gray;
  
}
.left-box {
  float: left;
  margin-left: 50px;
  
}

.btn-code {
  border-radius: 5px;
  border: 1px solid black;
  margin: 25px 0 0 250px;
  height: 45px;
  width: 150px;
  background-color: #e8c393;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
}

.btn-code:hover {
  background-color: tan;

}

.right-box {
  margin-right: 50px;
  float: right;
  background-color: #cba56d69;
  opacity: 0.6;
}
.right-box p {
  /* margin: auto; */
  padding: 25% 30%;
}


#projects {
  clear: both;
}

.proj-heading {
font-weight: 900;
}
/* end of project section*/

/* ----------------------- */

/* start of contact section*/

#contact {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.contact-header  {
  float: left;
  /* width: 50%; */
  width: 40%;
}

.contact-header > h2 {
  padding: 15% 25%;
  font-size: 30px;
}

.form-container {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  width: 50%;
  height: 400px;
  float: left;
  margin-right: 70px; 
}

input[type="text"], input[type="email"] {
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin: 15px 0 20px 0;
  width: 45%;
  height: 35px;

}
textarea {
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  height: 200px;
  width: 90.5%;
  border-radius: 5px;
  border: none;
  
}

input[type="submit"] {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  border: .5px solid black;
  width: 110px;
  height: 40px;
  background-color: #e8c393;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: tan;
}
/* END of contact section */

/* --------------------- */

/* start of footer section */

.fter-cont {
  border-top: none;
  background-color: blanchedalmond;
  height: 80px;
  text-align: center;
}
.fter-logo {
  height: 100%;
  width: 130px;
  border-radius: 2px;
}

.fa-arrow-up {
  float: right;
  padding: 12px;
}

.fa-arrow-up:link {
  color: #287e30;
}
.fa-arrow-up:hover {
  color: rgb(14, 156, 156);
}