/* font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fafafa;
}
/* start of navbar and all selectors */

.left-asp {
  margin-top: 170px;
  float: left;
  width: 45%;
  padding-left: 50px;
  text-align: justify;
 
  
}

nav {
  box-shadow: 3px 1px 5px gray;
  text-align: right;
  height: 80px;
  border: none;
  padding: 0 30px 0 0;
  background: rgb(222, 196, 196);
}
nav a {
  margin-left: 40px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight:900;
}
/* 
.fa-house, .fa-address-card, .fa-envelope {
 
} */

.nav-right {
  margin-top: 30px;
}

#left-logo {
  float: left;
  height: 100%;

}

a:link {
  color: brown;

}
a:hover {
  color: teal;
}
a:visited {
  color: purple;
}
a:active {
  color: green;
}
/* end of navbar styling */

div.box {
  display: inline-block;
  width: 50px;
  height: 100px;
  background-color: rgb(196, 184, 175);
}
div h2  {
  font-family: 'Kanit', sans-serif
}
p {
  font-family: 'Quicksand', sans-serif;
}

.abt-me {
  clear: both;
}

section h3 {
  clear: both;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;

}

.right-pic {
  border-radius: 50px;
  float: right;
  padding: 40px;
}

.form-container {
  background-color: gray;
  margin: auto;
  padding: auto;
  text-align: center;
  width: 50%;
  height: 450px;
}


input[type=text] {
 margin: 40px 10px 20px 0;
}

